.tweet {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 210px
}

.tweet header {
  background: #d1d3d4;
  height: 80px;
  padding-top: 10px;
  text-align: left;
}

.tweet header img {
  border-radius: 10px;
  margin-left: 8px;
  width: 60px;
}

.tweet header h4 {
  display: inline;
  font-size: 1.5em;
  font-style: bold;
  margin-left: 7px;
  vertical-align: top;
}

.tweet header span {
  float: right;
  margin-right: 8px;
  margin-top: 8px;
  font-size: 0.8em;
}

.tweet article {
  height: 90px;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 7px;
  text-align: left;
}


.tweet footer {
  border-top: #d1d3d4 1px solid;
  font-size: 0.8em;
  height: 20px;
  padding-top: 0px;

}

.tweet footer span {
  float: left;
  margin-left: 7px;
  margin-top: 4px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.tweet footer i {
  float: right;
  font-size: 1.2em;
  margin-left: 2px;
  margin-top: 4px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.rightmost {
  margin-right: 8px;
}

.text-body {
  margin-top: 5px;
  line-height: 15px;
  width: 360px;
  word-wrap: break-word;
  display: inline-block;
}
